@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.Amatic {
  font-family: "Amatic SC", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

/* @keyframes spin-once {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}

button:hover {
  animation: spin-once 0.5s linear 1;
} */
